
   .portfolio_card {
    border: 2px solid #d578cb;
    color:rgba(255, 255, 255, 0.6);
    background-color: transparent;
    border-radius: 0.6rem;
    padding: 1rem;
    /* text-align:justify; */
    margin: 0.5rem;
    width: 22rem;
    
  } 
.img_port{
    border-radius: 1rem;
    border: 1px solid #fafaf0;
}
.portfolio_card:hover{
  transform: scale(1.1);
  transition: transform 0.8s;
}
.portfolio_icons{
    color:#d578cb;
    font-size: 1.6rem;
    display: flex;
    gap: 0.5rem;
}
